@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base{
    :root{
        --color-primary: 61, 82, 160;
        --color-secondary: 112, 145, 230;
        --color-tertiary: 134, 151, 196;
    }
}

.app__container{
    height: 100vh;
}